body {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(221, 161, 171);
    font-family: sans-serif;
}
.container {
    width: 18rem;
    box-shadow: 0.6rem 0.56rem 2.5rem black;
    margin-right: 10rem;
    padding: 1.3rem;
    border-radius: 0.7rem;
    background: linear-gradient(90deg, rgb(59, 58, 58), rgb(36, 35, 35));
}

.display {
    width: 98%;
    border-radius: 0.7rem;
    background-color: hsl(114, 49%, 81%);
    height: 4.7rem;
    margin-bottom: 1.2rem;
    text-align: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 2.7rem);
    grid-gap: 0.6rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: white;
}

.button {
    background-color: gray;
    border-radius: 2px;
}

.button:hover {
    background-color:rgba(128, 128, 128, 0.671) ;
    box-shadow: 0 0 7px black;
    cursor: pointer;
}

.equals {
    grid-area: 4/4/6/5;
    background-color: rgb(252, 120, 71);
    line-height: 5.2rem;
}

.equals:hover {
    background-color: rgba(252, 120, 71, 0.808);
}

.zero {
    grid-area: 5/1/6/3;
}

.function {
    background-color: black;
}

.function:hover {
    background-color: rgba(0, 0, 0, 0.671);
}

@media screen and (max-width: 650px){
    .container {
        margin: auto;
    }
}